datasets
packaging
wandb
accelerate
certifi
charset-normalizer
contourpy
cycler
diffusers
einops
fonttools
fsspec
huggingface-hub
idna
imagecodecs
Jinja2
kiwisolver
MarkupSafe
matplotlib
mpmath
networkx
numpy
opencv-contrib-python
pandas
pillow
pyparsing
pytz
pywin32
PyYAML
regex
requests
safetensors
sympy
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
typing_extensions
tzdata
urllib3
